html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
    height: calc(100%-40px);
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,180,131,1) 50%, rgba(0,212,255,1) 100%);

}